PORT=5000
DATABASE_URL="postgresql://teamflow_user:teamflow_password@localhost:5435/teamflow_db?schema=public"
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key_minimum_32_characters_long_placeholder

